.box {
    margin: 10px;
    border: 1px solid black;
    height: 100%;
    text-align: center;
    vertical-align: top;
}

.todo {
    border: 1px solid black;
    margin: 10px;
    text-align: left;
}

h4 {
    padding-left: 10px;
}