<div class="box">
    <h3>Todo Item List</h3>
    <div *ngIf="((todo$ | async) || newTodo) as todo">
        <label for="name">Name: </label>
        <input id="name" class="text input" type="text" [(ngModel)]="todo.name" />
        <div class="todo-items" *ngFor="let item of todo.items">
            <input *ngIf="todo.id" title="is-complete" class="checkbox text input" [checked]="item.isComplete" (change)="onChecked(todo, item)" type="checkbox" />
            <input title="item-name" class="text input" [disabled]="true" [(ngModel)]="item.text" type="text" />
            {{ item.isComplete }}
        </div>
        <div *ngIf="!todo.id">
            <input title="new-todo-item" class="text input" [(ngModel)]="newItem.text" />
            <button class="button add-item" (click)="onSaveTodoItem()">+</button>
        </div>
        <button *ngIf="!todo.id" [disabled]="!canSaveTodo" class="input button" [disabled]="" (click)="onSaveTodo()">Save Todo</button>
        <button *ngIf="todo.id" [disabled]="!todo.canComplete" class="input button" (click)="onRemoveTodo(todo.id)">Complete</button>
    </div>
</div>
